option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: laraveldb.czcgjqz53jih.eu-west-1.rds.amazonaws.com:3306
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: laravelappdb
   - option_name: DB_USER
     value: db_admin
   - option_name: DB_PASS
     value: "!qa2ws3ed"